.container_colum  {
                    background-color: powderblue;
                    margin-bottom: -5px;
                    padding:30px 0px;
                  }

/*.Bottom {
          border-style: solid;
          border-color: green;
        }*/
#first {background-color: lightgreen;
        width: 49.8%;
        float:left;
        padding-left: 15px;
        }

#kelvin {
          margin-right: 50%;
         }
#final{
        background-color: silver;
        text-align: left;
        height: 426.5px;
        width: 49%;
        float: left;

        }
